<br>
<br>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 whiteBackground appname-form">	
		<div class="row">
			<div class="col-sm-4">
				<br>
				<button class="btn btn-default pull-left" ng-click="getAnswered()" ng-class="{'btn-primary': showAnswered}">Show Answered</button>
			</div>
			<div class="col-sm-4">
				<h1 class="text-center">Q & A</h1>
			</div>
			<div class="col-sm-4">
				<br>
				<button class="btn btn-default pull-right" ng-click="getUnanswered()" ng-class="{'btn-primary': !showAnswered}">Show Unanswered</button>
			</div>
		</div>
		<br>
		<div class="row" ng-repeat="question in questions" ng-show="questions.length > 0">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-8">
						<p>{{question.text}} </p>
						<p ng-hide="question.showAnswerField || question.answer">Not yet answered</p>
						<p ng-hide="question.showAnswerField || !question.answer">{{question.answer}}</p>
						<textarea class="form-control" rows="3" ng-model="question.answer" ng-show="question.showAnswerField"></textarea>
						<br ng-show="question.showAnswerField">
						<button class="btn btn-primary" ng-click="updateAnswer(question)" ng-show="question.showAnswerField">Update Answer</button>
						<button class="btn btn-danger pull-right" ng-click="clearAnswer(question)" ng-show="question.showAnswerField">Clear</button>
					</div>
					<div class="col-sm-4 text-right">
						<div class="row">
							<div class="col-sm-12">
								Asked By <a href="/#/story/{{question.questioner._id}}">{{question.questioner.firstName}} {{question.questioner.lastName}}</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								 <a href="" class="" ng-click="question.showAnswerField = true" ng-hide="question.showAnswerField">update answer</a>| <a href="" class="" ng-click="deleteQuestion(question)" ng-hide="question.showAnswerField">delete</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="checkbox-inline"><input ng-model="question.public" type="checkbox" ng-click="updateQuestionPublicity(question)">public</label>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
		<div class="row" ng-hide="questions.length > 0">
			<div class="col-sm-12">
				<p>No questions</p>
			</div>
		</div>
	</div>
</div>
