<br>
<br>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 appname-form scrollWhenBig">
		<h1>{{user.firstName}} {{user.lastName}}'s story</h1>
		<div class="row" ng-bind-html="user.story"></div>
		<div class="row">
			<div class="col-sm-12 appname-form">
				<text-angular ng-model="qanda.question" ng-show="askquestion"></text-angular>
				<a href="" ng-click="askquestion=true;" ng-hide="askquestion">Have a question?</a>
				<button class="btn btn-primary" ng-click="submitQuestion(qanda.question);" ng-show="askquestion">Submit</button>	
			</div>
		</div>
	</div>
</div>


