/*h1{
	color: red;
}*/
html, body, h1, h2, h3, h4, h5 {
    /*font-family: georgia;*/
    font-family: 'LTCircular',Arial,sans-serif;
}
body{
	    background-color: #ececec;
      margin-top: 50px;
      margin-bottom: 50px;
}
.noBackground {
    background: none;
}
.uniDropDown {
  width: 50%;
}
.full {
  background: url(./images/coverFinished.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.whiteBackground{
    background-color: white;
}
.appname-standard-border{
    border: 2px solid #e8e8e8;
}
.appname-form{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}
.scrollWhenBig {
  max-height: 500px;
  overflow-y: scroll;
}
.register-form{
  border-right: solid black 1px;
}
.animate-view.ng-animate {
    -webkit-transition:all linear .5s;
    transition:all linear .5s;
}
.animate-view.ng-leave,
.animate-view.ng-leave.ng-leave-active{
    display:none;
}
.animate-view.ng-enter {
    opacity: 0;
}
.animate-view.ng-enter.ng-enter-active {
    opacity:1;
}